   h1 {
    color: #ffffff;
    }

    body {
    background-color: #666666;
    }

    h1 {
    font-size: 2em;
    }

    p {
    color: #ffffff;
    font-size: 1.2em;
    }
    div {
    padding: 10px;
    margin: 5px;
    }

    h2 {
    color: #ffffff;
    font-size: 1.5em;
    background-color: #00aaff;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
    }

    ol {
    background-color: #8d8d8d;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 35%;
    }

    li {
    margin: 5px 0;
    color: #ffffff;
    font-size: 1.2em;
    position: relative;
    left: 10px;
    }

    table {
    width: 30%;
    border-collapse: collapse;
    }

    th,
    td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
    background-color: #8d8d8d;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    }

    th {
    background-color: #00aaff;
    }

    form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    label {
    font-weight: bold;
    color: #ffffff;
    display: block;
    }

    input[type="text"],
    input[type="email"] {
    padding: 8px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    }

    input[type="submit"] {
    background-color: #00aaff;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type="submit"]:hover {
    background-color: #00aaffa0;
    font-weight: bold;
    }
